{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Image Generator with Steganography</title>

    <!-- Link to the styles.css -->
    <link rel="stylesheet" href="{% static 'generator/styles.css' %}">
</head>
<body>

    <div class="container">
        <h1>Random Image Generator with Steganography</h1>

        <div class="image-container">
            {% if image_url %}
    <h2>Generated Image:</h2>
    <img src="{{ image_url }}" alt="Stego Image" style="max-width: 100%; height: auto;">
{% endif %}

<form method="post">
    {% csrf_token %}
    <button type="submit">Generate and Stego Image</button>
</form>
    </div>

</body>
</html>
